<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <directoryBrowse enabled="true" />
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <system.web>
        <sessionState cookieless="UseCookies" />
        <compilation batchTimeout="1800" enablePrefetchOptimization="true" optimizeCompilations="true" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="database@domain.ca">
                <network host="10.10.10.10" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
