<html>
<head>
<title>CO Code Status</title>
<link rel="stylesheet" type="text/css" href="/styles/cna_website_stylsheet.css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29854744-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1">
<tr>
<td width="50%">
<img border="0" src="/images/cna_logo_halfsize.gif" width="125" height="57"></td>
<td width="50%" align="right" valign="bottom">
<img border="0" src="/images/keypad_small.gif" width="57" height="49"></td>
</tr>
</table>
<hr color="#808000">
<h1 align="center"><a name="top"></a>CO Code Status</h1>
<hr color="#808000" width="66%">
<TABLE ALIGN=CENTER BORDER=1 CELLPADING=2 CELLSPACING=3 WIDTH="100%">
<TR ALIGN=CENTER>
<TH ALIGN=CENTER>NPA</TH>
<TH ALIGN=CENTER>CO Code (NXX)</TH>
<TH ALIGN=CENTER>OCN</TH>
<TH ALIGN=CENTER>Company</TH>
<TH ALIGN=CENTER>Status</TH>
<TH ALIGN=CENTER>Rate Centre</TH>
<TH ALIGN=CENTER>Remarks</TH>
</TR>
<TR>
</TR>
<%begindetail%>
<TR>
<TD ALIGN=CENTER><%insert_data_here%></TD>
<TD ALIGN=CENTER><%insert_data_here%></TD>
<TD ALIGN=CENTER><%insert_data_here%></TD>
<TD nowrap ALIGN=CENTER><%insert_data_here%></TD>
<TD ALIGN=CENTER><%insert_data_here%></TD>
<TD nowrap ALIGN=CENTER><%insert_data_here%></TD>
<TD ALIGN=CENTER><%insert_data_here%></TD>
</TR>
<%enddetail%>
</TABLE>



<p align="center" class="menubar"><a href="#top"><font color="#33339A" size="2">
Back to Top</font></a></p>
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>
<hr color="#808000">
<p class="fineprint" style="text-align: left">Copyright (C)2011 Canadian 
Numbering Administrator<br>
<!--insertdatehere--></p>
</td>
</tr>
</table>
</body>
</html>
