<html>

<head>
<meta content="en-ca" http-equiv="Content-Language">
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
<title>ERSD Code Status</title>
<link rel="stylesheet" type="text/css" href="/styles/cna_website_stylsheet.css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29854744-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
<tr>
<td width="50%">
<img alt="CNALogo_small" border="0" src="/images/cna_logo_halfsize.gif"></td>
<td width="50%" align="right" valign="bottom">
<img alt="CNALogo_small" border="0" src="/images/keypad_small.gif" width="57" height="49"></td>
</tr>
</table>
<hr>
<h1><a name="top"></a>ESRD Code Status</h1>
<hr class="short">
<div><center><table class="std_condensed">
<tr>
<td class="std_condensed_column-header">NPA</td>
<td class="std_condensed_column-header">NXX</td>
<td class="std_condensed_column-header">ESRD Block</td>
<td class="std_condensed_column-header">OCN</td>
<td class="std_condensed_column-header">Company</td>
<td class="std_condensed_column-header">Status</td>
<td class="std_condensed_column-header">Remarks</td>
</tr>
<%begindetail%>
<tr>
<td class="std_condensed"><%insert_data_here%></TD>
<td class="std_condensed"><%insert_data_here%></TD>
<td class="std_condensed" nowrap><%insert_data_here%></TD>
<td class="std_condensed"><%insert_data_here%></TD>
<td class="std_condensed_align-left" nowrap><%insert_data_here%></TD>
<td class="std_condensed_align-left" nowrap><%insert_data_here%></TD>
<td class="std_condensed_align-left"><%insert_data_here%></TD>
</tr>
<%enddetail%>
</table>
</center></div>
<p align="center" class="menubar"><a class="link-menubar" href="#top">Back to 
Top</a></p>
<hr>
<table border="0" bordercolor="#111111" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%">
<tr>
<td>
<p class="fineprint" style="text-align: left;">
Copyright ©1998-2013 Canadian Numbering Administrator<br>
<!--insertdatehere--></p>
</td>
<td>
<p class="fineprint" style="text-align: right;">
<img alt="Canadian Flag" border="0" src="../images/canada_flag_small.png"></p>
</td>
</tr>
</table>
</body>
</html>

