<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Recover CO Codes ??</title>
<meta name="Microsoft Theme" content="none, default"><meta name="Microsoft Border" content="none, default"></head>
<body>

<p align="center"><strong>RECOVER CO CODES ??</strong></p>
<p>  <br>
</p>
<br> </br>
<p align="center"><large><strong>Does Not Apply To CO Codes In  Alberta and British Columbia Due To Labour Dispute - Jeanne Lacombe Email Date Oct 6/05</large></strong></p>
<h5>
The following CO Codes are at least five (5) months past the Effective Date<br>
<p>  <br>
</p>
<table ALIGN="CENTER" BORDER="1" CELLPADING="3" CELLSPACING="3" WIDTH="100%">
<tr ALIGN="CENTER">
<th ALIGN="CENTER">Tix</th>
<th ALIGN="CENTER">NPA</th>
<th ALIGN="CENTER">NXX</th>
<th ALIGN="CENTER">Company</th>
<th ALIGN="CENTER">Rate Centre</th>
<th ALIGN="CENTER">Effective Date</th>
<th ALIGN="CENTER">Expires</th>
<th ALIGN="CENTER">Remarks</th>
</tr>
<tr>
</tr>
<%begindetail%>
<tr>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
<td nowrap ALIGN="CENTER"><%insert_data_here%></td>
</tr>
<%enddetail%>
</table>
</body>
</html>
